<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-label>
        Por Favor vuelva a ingresar los horarios nuevamente
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item color="primary">
          <ion-label>Hora Inicial</ion-label>
          <ion-datetime display-format="HH" cancelText="Cancelar!" done-text="Aceptar"
            (ionChange)="cambioHoraInicial( $event )">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" multiple="true">Dia</ion-label>
          <ion-select placeholder="Seleccione Un dia " (ionChange)="obtenerDia($event)">
            <ion-select-option value={{lunes}}>{{lunes}}</ion-select-option>
            <ion-select-option value={{martes}}>{{martes}}</ion-select-option>
            <ion-select-option value={{miercoles}}>{{miercoles}}</ion-select-option>
            <ion-select-option value={{jueves}}>{{jueves}}</ion-select-option>
            <ion-select-option value={{viernes}}>{{viernes}}</ion-select-option>
            <ion-select-option value={{sabado}}>{{sabado}}</ion-select-option>
            <ion-select-option value={{domingo}}>{{domingo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label>Hora Final</ion-label>
          <ion-datetime display-format="HH" cancelText="Cancelar!" done-text="Aceptar"
            (ionChange)="cambioHoraFinal( $event )">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre Materia</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="nuevaMateria.nombreMateria" minlength='2' maxlength='50'
            placeholder="Opcional">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="full " shape="round" (click)="crearHorario()">
            Agregar Horario
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>
        Horarios actuales de la Materia
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-card-header>
        <ion-list>
          <ion-item color="primary">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>Dia</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>Hora Inicial</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>Hora Final</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-list>
        <ion-item class="animated fadeIn fast" *ngFor="let horario of viejaMateria.horarios">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label>{{horario.dia}}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>{{ horario.horaInicial | date:'HH':'-0500' }}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>{{ horario.horaFinal | date:'HH':'-0500' }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="cancelarUpdate()" expand="full" shape="round">cancelar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="actualizarMateria()" expand="full" shape="round" [disabled]="botonEnviar">Actualizar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>