<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons >
      <ion-title slot="start">Menú Usuarios</ion-title>
      <ion-button slot="end" (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let c of menuUsuarios">
    <ion-item [routerLink]="c.redirectTo">
      <ion-icon slot="start" [name]="c.icon"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
