<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let c of menuUsuarios">
      <ion-menu-toggle>
        <ion-item [routerLink]="c.redirectTo">
          <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-item-divider>
      </ion-item-divider>
      <ion-item (click)="logout()">
        <ion-icon slot="start" name="exit-outline" color="danger"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>